* {
    font-family: Arial, Helvetica, sans-serif;
    caret-color: transparent;
    color: whitesmoke;
}

body {
    background-image: linear-gradient(#110e1c, #121212);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 850px) {
    body {
        width: 42vw;
        margin: auto;
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

hr {
    color: black;
}

.inthecard {
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

#clue1 {
    width: 100%;
    margin-top: 1vh;
}

#clue2 {
    width: fit-content;
}

#title {
    margin-top: 1vmax;
    margin-bottom: 1vmax;
}

.inputbox {
    width: 5.25vmax;
    height: 5.25vmax;
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#q {
    font-size: x-large;
    background-color: #875fd8;
    width: 100%;
}

.card {
    height: 22.5vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.examplecard {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rules {
    text-align: justify;
    font-size: large;
}

.buttons {
    width: 95%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instructions {
    width: 95%;
}

.beginreset {
    width: 25%;
    height: 75%;
    font-size: large;
    background-color: #875fd8;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    border-width: 0;
    text-align: center;  
}

#expanse {
    width: 100%;
}

#e {
    background-color: #875fd8;
    border-color: #875fd8;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7 {
    background-color: #875fd8;
    margin-bottom: 1vh;
} 

#clue {
    padding: 1vmax;
    font-size: large;
    font-style: italic;
    border-radius: 5px;
    font-weight: 900;
}

#example {
    width: 100%;
    margin-top: 1vh;
}

#exampleclue {
    padding: 1vmax;
    font-size: large;
    font-style: italic;
    border-radius: 5px;
    font-weight: 900;
    background-image:linear-gradient(gray, gray);
}

#timerscore {
    width: 20%;
    height: 75%;
    font-size: small;
    background-color: #875fd8;
    border-radius: 5px;
    font-weight: 900;
    border-width: 0;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#time, #score {
    font-size: x-large;
}

.correctblocks {
    background-image:linear-gradient(#14A44D, #14A44D);
}

.correct {
    background-image:linear-gradient(#14A44D, #14A44D);
}

.incorrect {
    background-image:linear-gradient(#a42014, #a42014);
}

.default {
    background-image:linear-gradient(gray, gray);
}

.invisibleclue {
    background-image:linear-gradient(transparent, transparent);
}
  
.pop {
    animation: pop 0.5s linear 1;
}

.bounce {
    animation: bounce 0.3s linear 1;
}

.shake {
    animation: shake 0.3s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.1);}
}

@keyframes bounce{
    20%  {transform: translateY(-15px);}
    40%  {transform: translateY(-20px);}
    80%  {transform: translateY(-5px);}
}

@keyframes shake{
    20%  {transform: translateX(-15px);}
    40%  {transform: translateX(20px);}
    80%  {transform: translateX(-5px);}
}