* {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke
}

body {
    background-image: linear-gradient(#110e1c, #121212);
}

@media (min-width: 850px) {
    body {
        width: 40vw;
        margin: auto;
    }
    .inputbox {
        font-size: x-large;
    }
}

hr {
    color: black;
    background-color: #875fd8;
}

.container {
    height: 95%;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rules {
    text-align: justify;
    font-size: large;
}

.buttons {
    width: 75%;
    height: 8vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.begin {
    width: 25%;
    height: 75%;
    font-size: large;
    background-color: #875fd8;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    border-width: 0;
}

.reset {
    width: 25%;
    height: 75%;
    font-size: large;
    background-color: #875fd8;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    border-width: 0;
}

.card {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10vh;
}

#title {
    margin-top: 5vmax;
    margin-bottom: 5vmax;
}

#q {
    background-color: #875fd8;
    border-color: #875fd8;
}

#e {
    background-color: #875fd8;
    border-color: #875fd8;
    width: 5vmax;
    height: 5vmax;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7 {
    margin-top: 10vh;
}

.inthecard {
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputbox {
    margin-left: .3vh;
    margin-right: .3vh;
    width: 5vmax;
    height: 5vmax;
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 2.5px;
}
  

#a1, #a2, #a3, #a4, #a5, #a6, #a7 {
    background-color: #875fd8;
} 

#clue {
    padding: 1vh;
    font-size: larger;
    font-style: italic;
    margin-top: 15vh;
    border-radius: 10px;
}

#example {
    margin-top: 10vh;
}

#exampleclue {
    padding: 1vh;
    font-size: larger;
    font-style: italic;
    margin-top: 15vh;
    border-radius: 10px;
    background-image:linear-gradient(gray, gray);
}

input {
    border: none;
    border-radius: 2.5px;
}

.decisioncontainer {
}

#text {
}

#timer {
    width: 20%;
    height: 8vh;
    font-size: small;
    background-color: #875fd8;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    border-width: 0;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#time, #score {
    font-size: x-large;
}

.correct {
    padding: 1vmax;
    background-image:linear-gradient(#14A44D, #14A44D);
}

.correctblocks {
    background-image:linear-gradient(#14A44D, #14A44D);
}

.incorrect {
    padding: 1vmax;
    background-image:linear-gradient(#a42014, #a42014);
}

.default {
    padding: 1vmax;
    background-image:linear-gradient(gray, gray);
}

.invisibleclue {
    padding: 1vmax;
    background-image:linear-gradient(transparent, transparent);
}
  
.pop {
    animation: pop 0.5s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.1);}
}